.jumbotron {
  padding-top: 6rem;
  background-color: #a2d9ff;
}

#project {
  background-color: #a2d9ff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0%;
}

/* My code section */
.code-box {
  position: relative;
  background-color: #0dcaf0;
  border-radius: 10px;
  height: 400px;
  transform-style: preserve-3d;
}

.show-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 10px);
}

.code-name {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  top: 0%;
}

.code-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 280px;
  transition: 0.5s;
}

.code-box :hover .code-img {
  transform: translate(-50%, -52%, 80px) rotate(5deg) scale(1.2);
}

.nama-code {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0px);
}
